<ion-content>
  <div class="main-container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
      <h1>Create Account</h1>

      <div style="text-align: justify;
      color: #3425c7; margin: 0% 0% 15% 0%;">
        <ion-text>
          <p>
            Your details are not registered with Kerala Wings, Please create an account to proceed further.
            <span style="color: red;">*All fields are mandatory</span>
          </p>
        </ion-text>
      </div>

      <ion-item lines="none">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-input placeholder="Name" type="text" formControlName="customer_name" autocapitalize="true"></ion-input>
      </ion-item>

      <ion-item lines="none" style="border-radius: 10px;">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-textarea placeholder="Address" type="text" formControlName="address" autocapitalize="true" row="4"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-input placeholder="Location" type="text" formControlName="location" autocapitalize="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-input placeholder="Mobile Number" type="number" formControlName="customer_number"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-input placeholder="Alternate Mobile Number" type="number" formControlName="landnumber"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="car-outline" slot="start"></ion-icon>
        <ion-input placeholder="Vehicle Name" type="text" formControlName="vehicleName"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="build-outline" slot="start"></ion-icon>
        <ion-input placeholder="Vehicle Type" type="text" formControlName="vehicle_type"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        <ion-input placeholder="Vehicle Number" type="text" formControlName="vehicle_number"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button shape="round" expand="block" type="submit" [disabled]="this.showLoader">
          <ion-label *ngIf="!this.showLoader"> Register </ion-label>
          <ion-label *ngIf="this.showLoader">
            <div class="spinner-container">
              <ion-spinner  name="crescent"></ion-spinner>
              Please Wait ...
            </div>
          </ion-label>
        </ion-button>
      </div>
    </form>
  </div>

  <div class="bottom-text-container">
    <p>Already have an account?</p>
    <span (click)="this.common.router.navigate(['/user-login'])"> Login </span>
  </div>
</ion-content>