<ion-content>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'instagram' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/insta.png" style="height: 180px;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on instagram</p>
      </div>

      <div>
        <ion-button expand="block" href="https://www.instagram.com/" style="--background: #ff336a;
        --box-shadow: none;">Follow us on Instagram
        </ion-button>
      </div>
    </div>

  </div>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'mail' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/gmail.png" style="height: 180px; width: 90%;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on google</p>
      </div>

      <div>
        <ion-button expand="block" style="--background: #ea4235;
        --box-shadow: none;" href="https://mail.google.com/">Follow us on google</ion-button>
      </div>
    </div>

  </div>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'facebook' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/fb.jpeg" style="height: 180px; width: 90%;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on facebook</p>
      </div>

      <div>
        <ion-button expand="block" style="--background: #4867aa;
        --box-shadow: none;" href="https://www.facebook.com/">Follow us on facebook</ion-button>
      </div>
    </div>

  </div>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'twitter' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/twitter.png" style="height: 160px;
    width: 90%;
    margin-top: 20px;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on twitter</p>
      </div>

      <div>
        <ion-button expand="block" href="https://twitter.com/" style="--background: #1cb7eb;
        --box-shadow: none;">Follow us on twitter</ion-button>
      </div>
    </div>

  </div>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'google' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/google.png" style="height: 180px; width: 90%;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on google</p>
      </div>

      <div>
        <ion-button expand="block" style="--background: #2ca24c;
        --box-shadow: none;" href="https://keralawings.in/">Follow us on google</ion-button>
      </div>
    </div>

  </div>

  <div style="margin: 10%;" *ngIf="whichSocialMedia === 'whatsapp' ">
    <div style="display: flex;
    justify-content: center;">
      <ion-img src="../../assets/socialMedia/watz.jpeg" style="height: 180px; width: 90%;"></ion-img>
    </div>

    <div style="padding: 0px 20px 0px 20px;">
      <div style="text-align: center;
      color: dimgrey;">
        <p>Click on this button to follow kerala wings page on whatsapp</p>
      </div>

      <div>
        <ion-button expand="block" href="https://web.whatsapp.com/" style="--background: #4bc959;
        --box-shadow: none;">Follow us on whatsapp</ion-button>
      </div>
    </div>

  </div>

</ion-content>
