// Trip details container styles
.trip-details-main-container {
  background-color: brown;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;

  .booked-ride-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      color: white;
      font-weight: 600;
    }

    ion-chip {
      --background: #aa7cff;
    }
  }
  .trip-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;

    h6 {
      color: white;
      font-weight: 600;
    }
    p {
      margin: 0px;
      color: #866dec;
    }
  }

  ion-button {
    --border-color: #eaa6a3;
    --color: white;
    font-weight: 600;
    --background: transparent;
  }
}
