<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="--background: white">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" style="color: black">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="color: black"> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center">
    <div>
      <img src="../../assets/images/user.png" alt="" style="height: 150px; object-fit: cover" />
    </div>
  </div>

  <form [formGroup]="userProfileForm" (ngSubmit)="submitProfile()">
    <div style="margin: 0px 25px 25px 25px; font-size: large">
      <ion-item lines="none">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" readonly="true" formControlName="customer_name"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Address</ion-label>
        <ion-textarea autoGrow="true" autocapitalize="true" rows="4" formControlName="address" type="text">
        </ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Location</ion-label>
        <ion-input formControlName="location" type="text" autocapitalize="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input readonly="true" formControlName="customer_number" type="number" max="10"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Alternate Number</ion-label>
        <ion-input formControlName="landnumber" type="number" max="10"></ion-input>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-label position="floating">Vehicle Name</ion-label>
        <ion-input formControlName="vehicleName" type="text" autocapitalize="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Vehicle Type</ion-label>
        <ion-input formControlName="vehicle_type" type="text" autocapitalize="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Vehicle Number</ion-label>
        <ion-input formControlName="vehicle_number" type="text"></ion-input>
      </ion-item> -->

      <div style="text-align: center">
        <ion-button expand="block" type="submit" shape="round" style="text-transform: none; --background: #3425c7;--box-shadow: none;
        height: 50px;" [disabled]="!userProfileForm.dirty && !userProfileForm.touched">
          Update Profile
        </ion-button>
      </div>
    </div>
  </form>
</ion-content>