<ion-header class="ion-no-border">
  <ion-toolbar style="--background: white">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" style="color: black">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="color: black"> Tariff </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="trip-details-main-container">
      <img src="../../../assets/images/tarrifPlans.jpg" alt="" [style]=" 'height:' + (this.plt.height() - 100) + 'px;' ">
      <!-- <h5>About Kerala Wings</h5>
      <ion-text>
        <p>
          If 3 hrs duration reaches 6 hrs, it will be converted to 8hrs. If 8hrs duration is extended to 10hours, it will be converted to 12hr package. Durations greater than 12hr, will be charged for regular cost.
        </p>
      </ion-text> -->
  </div>

</ion-content>
