<ion-header class="ion-no-border">
  <ion-toolbar style="--background: white">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" style="color: black" defaultHref="/user-dashborad">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="color: black">Book a {{ segmentChoosed | titlecase }}
    </ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segmentChoosed" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="driver">
      <ion-icon name="person" style="margin-bottom: 10px"></ion-icon>
      <ion-label>Book a Driver</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cab">
      <ion-icon name="car" style="margin-bottom: 10px"></ion-icon>
      <ion-label>Book a Cab</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div style="padding: 15px">
    <div [ngSwitch]="segmentChoosed">
      <div *ngSwitchCase="'cab'">
        <form [formGroup]="cabBookingForm" (ngSubmit)="submitCab()">
          <div style="display: flex">
            <ion-item lines="none" style="margin-right: 5px" id="trigger-start-date-cab">
              <ion-label position="floating">Start Date</ion-label>
              <ion-input readonly="true" formControlName="booking_date">
              </ion-input>
            </ion-item>

            <ion-modal trigger="trigger-start-date-cab">
              <ng-template>
                <ion-content>
                  <ion-datetime presentation="date" (ionChange)="doSomethingDate($event)">
                    <div slot="title"></div>
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>

            <ion-item lines="none" id="trigger-days-cab" style="margin-left: 5px">
              <ion-label position="floating">Number Of Days</ion-label>
              <ion-input readonly="true" formControlName="no_day"></ion-input>
            </ion-item>

            <ion-modal trigger="trigger-days-cab">
              <ng-template>
                <ion-content>
                  <div style="display: flex; flex-wrap: wrap; padding: 15px">
                    <p style="
                        margin: 0px;
                        padding: 20px;
                        display: flex;
                        font-weight: 600;
                        align-items: center;
                      " *ngFor="let d of allDays" (click)="doSomethingDays(d, 'cab')">
                      {{ d?.No }}
                    </p>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>

          </div>

          <div style="display: flex">

            <ion-item lines="none" style="margin-right: 5px">
              <ion-label position="floating">End Date</ion-label>
              <ion-input readonly="true" formControlName="end_date" [value]=" endDateChoosed | date:'mediumDate' ">
              </ion-input>
            </ion-item>

            <ion-item lines="none" style="margin-left: 5px; width: 60%;">
              <ion-label position="floating">Start Time</ion-label>
              <ion-input type="time" formControlName="timepicker" (ionChange)="doSomethingTime($event)">
              </ion-input>
            </ion-item>

          </div>

          <ion-item lines="none">
            <ion-label position="floating">Vehicle Type</ion-label>
            <ion-select formControlName="vehicle_type">
              <ion-select-option value="Sedan"> Sedan </ion-select-option>
              <ion-select-option value="Normal"> Normal </ion-select-option>
              <ion-select-option value="MUV / SUV"> MUV / SUV </ion-select-option>
              <ion-select-option value="Premium"> Premium </ion-select-option>
              <ion-select-option value="Traveler"> Traveler </ion-select-option>
              <ion-select-option value="Bus"> Bus </ion-select-option>
              <ion-select-option value="Commercial"> Commercial </ion-select-option>
              <ion-select-option value="Innova"> Innova </ion-select-option>
              <ion-select-option value="Innova Crista"> Innova Crista </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Destination</ion-label>
            <ion-input autocapitalize="true" type="text" formControlName="destination"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Remark <span style="color: grey;"> (optional) </span> </ion-label>
            <ion-textarea autocapitalize="true" formControlName="remark" rows="4" autoGrow="true"></ion-textarea>
          </ion-item>

          <div style="text-align: center">
            <ion-button expand="block" type="submit" shape="round" style="
                text-transform: none;
                --background: #3425c7;
                --box-shadow: none;
                height: 50px;
              ">
              Proceed Booking
            </ion-button>
          </div>
        </form>
      </div>

      <div *ngSwitchCase="'driver'">
        <form [formGroup]="driverBookingForm" (ngSubmit)="submitDriver()">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <ion-item lines="none" id="trigger-start-date" style="margin-right: 5px">
              <ion-label position="floating">Start Date</ion-label>
              <ion-input readOnly="true" formControlName="booking_date">
              </ion-input>
            </ion-item>

            <ion-modal trigger="trigger-start-date">
              <ng-template>
                <ion-content>
                  <ion-datetime presentation="date" (ionChange)="doSomethingDate($event)">
                    <div slot="title"></div>
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>

            <ion-item lines="none" id="trigger-days" style="margin-left: 5px">
              <ion-label position="floating">Number Of Days</ion-label>
              <ion-input readOnly="true" formControlName="no_day"> </ion-input>
            </ion-item>

            <ion-modal trigger="trigger-days">
              <ng-template>
                <ion-content>
                  <div style="display: flex; flex-wrap: wrap; padding: 15px">
                    <p style="
                      margin: 0px;
                      padding: 20px;
                      display: flex;
                      font-weight: 600;
                      align-items: center;
                    " *ngFor="let d of allDays" (click)="doSomethingDays(d, 'driver')">
                      {{ d?.No }}
                    </p>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>

          </div>

          <div style="display: flex;">
            <ion-item lines="none" style="margin-right: 5px">
              <ion-label position="floating">End Date</ion-label>
              <ion-input readOnly="true" formControlName="end_date" [value]="endDateChoosed | date:'mediumDate' ">
              </ion-input>
            </ion-item>

            <ion-item lines="none" style="margin-left: 5px; width: 60%;">
              <ion-label position="floating">Start Time</ion-label>
              <ion-input formControlName="timepicker" type="time" (ionChange)="doSomethingTime($event)">
              </ion-input>
            </ion-item>
          </div>

          <ion-item lines="none">
            <ion-label position="floating">Vehicle Name </ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="vehicle_name"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Vehicle Type </ion-label>
            <ion-select formControlName="vehicle_type">
              <!-- <ion-select-option value="Select"> Select </ion-select-option> -->
              <ion-select-option value="Automatic"> Automatic </ion-select-option>
              <ion-select-option value="Manual"> Manual </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Vehicle Number </ion-label>
            <ion-input autocapitalize="characters" type="text" formControlName="vehicle_number"
              style="text-transform: uppercase;"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Required Driver Name <span style="color: grey;"> (optional) </span>
            </ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="driver"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Rejected Driver Name <span style="color: grey;"> (optional) </span>
            </ion-label>
            <ion-input autocapitalize="on" type="text"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Destination</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="destination"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Remark <span style="color: grey;"> (optional) </span> </ion-label>
            <ion-textarea autocapitalize="on" formControlName="remark" rows="4" autoGrow="true"></ion-textarea>
          </ion-item>

          <div style="text-align: center">
            <ion-button expand="block" type="submit" shape="round" style="
                text-transform: none;
                --background: #3425c7;
                --box-shadow: none;
                height: 50px;
              ">
              Proceed Booking
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>