<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terms & Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      :(1).Address the customer as Sir/Madam.(2).Do not on A/C, Stereo, etc. without
      taking permission from the customer.(3).Deal every customer with politeness.(4).Contact the customer
      immediately once you get the number.(5).Report 10 minutes prior to the allotted time.(6).Report office
      immediately after the trip. (7)Contact office for trip, payment, etc.(8)Driver is fully responsible for the
      vehicle from the time he receives the key from the customer.(9)Do not receive any additional amount than
      the tariff from the customer.(10)Report to office before 8.30am if no trip is given on the previous
      day.(11)Four leave per month will be allotted. (12)Five days trip will not be allotted if taking leave without
      prior information.(13)Total amount from every driver will be realized if he terminate and abstains from his
      service intentionally before the end of a month. (14)Salary will be credited on the 10th day of every
      month.(15)Security deposit of Rs.2000 will be given 30 days of resignation. (16)Penalty amount of over
      speed, signal violation, no parking etc. will be deducted from the driver. (17)Do not use mobile phone while
      driving. (18)Do not cross speed limit on any cost. (19)Always dress neatly and tidy. (20)Do not keep any
      personal relationship with the customer. (21).Report to office if any customer directly calls you for any trip.
      (22)Do not focus the Mirror to the customer at backseat. (23)Drivers are not allowed to eat while in
      customer’s vehicle. (24)Driving must be smooth and comfortable for the customers. (25)Rupees 100 will be
      deducted, if reported late than the booking time and without wearing ID card. (26)Drivers must have rain cot
      with them. There should not be any contact with customers after the trip.(27)In case of any accident or
      damage to the vehicle, the driver is supposed to take all the responsibility including payment and repairing.
      (28) Driving license or supporting documents should be collected within 30 days of resigning or dropout
      without informing the company otherwise Kerala Wings will not be responsible.(29)Drivers are not allowed
      to take trip personally without the instruction from the Kerala Wings. If any driver is terminated due to the
      violation of rule, the security deposit will not be refunded.(30)Management can take any disciplinary action
      on violation of the terms and condition.
  </ion-card>

</ion-content>
