<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/user-dashborad">
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="viewType === 'ongoing'" style="color: black;">Ongoing Trip</ion-title>
    <ion-title *ngIf="viewType === 'details'" style="color: black;">Trip Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div>
    <ion-img src="../../assets/images/ride-sharing.jpeg"></ion-img>
  </div> -->

  <div class="trip-main-container , animate__animated animate__fadeIn"
    *ngIf="activeTrip.length === 0 && activeDriver.length === 0 && allBooking.length === 0 && allBookingTaxi.length === 0">
    <h1>You are not having any active trip or booked driver.</h1>
    <div class="button-container">
      <ion-button fill="outline" shape="round" (click)="gotoPage('/booking')">
        Book Cab / Book Driver
      </ion-button>
    </div>
  </div>

  <div *ngIf="viewType === 'details'">
    <div *ngIf="activeTrip.length > 0" class="animate__animated animate__fadeIn">
      <!-- Kerala Wings Driver's Trip List view starts here -->
      <div class="trip-details-main-container , animate__animated animate__fadeIn" *ngFor="let trip of activeTrip">
        <div style="display: flex; justify-content: end">
          <ion-chip style="--background: #faca30">
            <ion-icon name="car-sport" style="color: black"></ion-icon>
            <ion-label style="color: black">Cab</ion-label>
          </ion-chip>
        </div>

        <div style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      ">
          <div>
            <p>
              <strong> Start : {{ trip.booking_date | date:'mediumDate'}} </strong>
            </p>
            <p>
              <strong> Pick Up Location </strong>
            </p>
            <p>
              <strong> Destination </strong>
            </p>
            <p>
              <strong> Vehicle Type </strong>
            </p>
            <p>
              <strong> No: Of Seats </strong>
            </p>

            <div style="
            background-color: #3b23c3;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> {{ trip.driver_id }} </strong>
              </p>
              <p>
                <strong> {{ trip.vehicle_number }} </strong>
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong> End : {{ trip.end_date | date:'mediumDate' }} </strong>
            </p>
            <p>
              <strong> : {{ trip.location }} </strong>
            </p>
            <p>
              <strong> : {{ trip.destination }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle_type }} </strong>
            </p>
            <p>
              <strong> : {{ trip.seat_no }} + 1 </strong>
            </p>

            <div style="
            background-color: red;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> Amount Collected </strong>
              </p>
              <p>
                <strong> {{ trip.amount}} /- </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Kerala Wings Driver's Trip List view ends here -->

    </div>

      <div *ngIf="activeDriver.length > 0" class="animate__animated animate__fadeIn">
        <div class="active-trip-container"  *ngFor="let trip of activeDriver">
          <div style="display: flex; justify-content: end">
            <ion-chip style="--background: white">
              <ion-icon name="man" style="color: black"></ion-icon>
              <ion-label style="color: black"> Driver </ion-label>
            </ion-chip>
          </div>
    
          <div style="display: flex; justify-content: space-between">
            <div>
              <!-- <h1 style="margin-top: 10px; font-weight: 600">{{ this.displayDay}}</h1> -->
              <p>
                <strong> Start : {{ trip.booking_date }} </strong>
              </p>
              <p>
                <strong> Pick Up Location </strong>
              </p>
              <p>
                <strong> Destination </strong>
              </p>
              <p>
                <strong> Vehicle Name </strong>
              </p>
              <p>Transmission</p>
              <p>
                <strong> Vehicle Number </strong>
              </p>
            </div>
    
            <div>
              <h1 style="margin-top: 10px; font-weight: 600"> {{ trip.timepicker }}</h1>
              <p>
                <strong> End : {{ trip.end_date }} </strong>
              </p>
              <p>
                <strong> : {{ trip.location }} </strong>
              </p>
              <p>
                <strong> : {{ trip.destination }} </strong>
              </p>
              <p>
                <strong> : {{ trip.vehicle_name }} </strong>
              </p>
              <p>
                <strong>
                 : {{ trip.vehicle_type }}
                </strong>
                </p>
              <p>
                <strong> : {{ trip.vehicle_number }} </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div *ngIf="viewType === 'ongoing'">

    <div *ngIf="allBooking.length > 0" class="animate__animated animate__fadeIn">

      <!-- Kerala Wings Driver's Taxi Trip List view starts here -->
      <div class="trip-details-main-container , animate__animated animate__fadeIn" *ngFor="let trip of allBooking">
        <div style="display: flex; justify-content: end">
          <ion-chip style="--background: white">
            <ion-icon name="man" style="color: black"></ion-icon>
            <ion-label style="color: black">Driver</ion-label>
          </ion-chip>
        </div>

        <div style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      ">
          <div>
            <p>
              <strong> Start : {{ trip.booking_date | date:'mediumDate'}} </strong>
            </p>
            <p>
              <strong> Pick Up Location </strong>
            </p>
            <p>
              <strong> Destination </strong>
            </p>
            <p>
              <strong> Vehicle Name </strong>
            </p>
            <p>
              <strong> Vehicle Transmission </strong>
            </p>
            <p>
              <strong> Vehicle Number </strong>
            </p>

            <div style="
            background-color: #3b23c3;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> Driver Name </strong>
              </p>
              <p>
                <strong> {{ trip.driver_id }} </strong>
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong> End : {{ trip.end_date | date:'mediumDate' }} </strong>
            </p>
            <p>
              <strong> : {{ trip.location }} </strong>
            </p>
            <p>
              <strong> : {{ trip.destination }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle_name }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle_number }} </strong>
            </p>

            <div style="
            background-color: red;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> Amount Collected </strong>
              </p>
              <p>
                <strong> {{ trip.amount}} /- </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Kerala Wings Driver's Taxi Trip List view ends here -->
    </div>

    <div *ngIf="allBookingTaxi.length > 0" class="animate__animated animate__fadeIn">

      <!-- Kerala Wings Driver's Trip List view starts here -->
      <div class="trip-details-main-container , animate__animated animate__fadeIn" *ngFor="let trip of allBookingTaxi">
        <div style="display: flex; justify-content: end">
          <ion-chip style="--background: #faca30">
            <ion-icon name="car-sport" style="color: black"></ion-icon>
            <ion-label style="color: black">Cab</ion-label>
          </ion-chip>
        </div>

        <div style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      ">
          <div>
            <p>
              <strong> Start : {{ trip.booking_date | date:'mediumDate'}} </strong>
            </p>
            <p>
              <strong> Pick Up Location </strong>
            </p>
            <p>
              <strong> Destination </strong>
            </p>
            <p>
              <strong> Vehicle Type </strong>
            </p>
            <p>
              <strong> No: Of Seats </strong>
            </p>

            <div style="
            background-color: #3b23c3;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> {{ trip.driver_id }} </strong>
              </p>
              <p>
                <strong> {{ trip.vehicle_number }} </strong>
              </p>
            </div>
          </div>
          <div>
            <p>
              <strong> End : {{ trip.end_date | date:'mediumDate' }} </strong>
            </p>
            <p>
              <strong> : {{ trip.location }} </strong>
            </p>
            <p>
              <strong> : {{ trip.destination }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle_type }} </strong>
            </p>
            <p>
              <strong> : {{ trip.seat_no }} + 1 </strong>
            </p>

            <div style="
            background-color: red;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> Amount Collected </strong>
              </p>
              <p>
                <strong> {{ trip.amount}} /- </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Kerala Wings Driver's Trip List view ends here -->

    </div>

    <div *ngIf="activeTrip.length > 0" class="animate__animated animate__fadeIn">
      <!-- Kerala Wings Driver's Trip List view starts here -->
      <div class="trip-details-main-container , animate__animated animate__fadeIn" *ngFor="let trip of activeTrip">
        <div style="display: flex; justify-content: end">
          <ion-chip style="--background: #faca30">
            <ion-icon name="car-sport" style="color: black"></ion-icon>
            <ion-label style="color: black">Cab</ion-label>
          </ion-chip>
        </div>

        <div style="
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      ">
          <div>
            <p>
              <strong> Start : {{ trip.booking_date | date:'mediumDate'}} </strong>
            </p>
            <p>
              <strong> Pick Up Location </strong>
            </p>
            <p>
              <strong> Destination </strong>
            </p>
            <p>
              <strong> Vehicle Type </strong>
            </p>
            <p>
              <strong> No: Of Seats </strong>
            </p>

            <!-- <div style="
            background-color: #3b23c3;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> {{ trip.driver_id }} </strong>
              </p>
              <p>
                <strong> {{ trip.vehicle_number }} </strong>
              </p>
            </div> -->
          </div>
          <div>
            <p>
              <strong> End : {{ trip.end_date | date:'mediumDate' }} </strong>
            </p>
            <p>
              <strong> : {{ trip.location }} </strong>
            </p>
            <p>
              <strong> : {{ trip.destination }} </strong>
            </p>
            <p>
              <strong> : {{ trip.vehicle_type }} </strong>
            </p>
            <p>
              <strong> : {{ trip.seat_no }} + 1 </strong>
            </p>

            <!-- <div style="
            background-color: red;
            padding: 5px 15px;
            text-align: center;
            border-radius: 10px;
          ">
              <p>
                <strong> Amount Collected </strong>
              </p>
              <p>
                <strong> {{ trip.amount}} /- </strong>
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <!-- Kerala Wings Driver's Trip List view ends here -->

    </div>

      <div *ngIf="activeDriver.length > 0" class="animate__animated animate__fadeIn">
        <div class="active-trip-container"  *ngFor="let trip of activeDriver">
          <div style="display: flex; justify-content: end">
            <ion-chip style="--background: white">
              <ion-icon name="man" style="color: black"></ion-icon>
              <ion-label style="color: black"> Driver </ion-label>
            </ion-chip>
          </div>
    
          <div style="display: flex; justify-content: space-between">
            <div>
              <!-- <h1 style="margin-top: 10px; font-weight: 600">{{ this.displayDay}}</h1> -->
              <p>
                <strong> Start : {{ trip.booking_date }} </strong>
              </p>
              <p>
                <strong> Pick Up Location </strong>
              </p>
              <p>
                <strong> Destination </strong>
              </p>
              <p>
                <strong> Vehicle Name </strong>
              </p>
              <p>Transmission</p>
              <p>
                <strong> Vehicle Number </strong>
              </p>
            </div>
    
            <div>
              <h1 style="margin-top: 10px; font-weight: 600"> {{ trip.timepicker }}</h1>
              <p>
                <strong> End : {{ trip.end_date }} </strong>
              </p>
              <p>
                <strong> : {{ trip.location }} </strong>
              </p>
              <p>
                <strong> : {{ trip.destination }} </strong>
              </p>
              <p>
                <strong> : {{ trip.vehicle_name }} </strong>
              </p>
              <p>
                <strong>
                 : {{ trip.vehicle_type }}
                </strong>
                </p>
              <p>
                <strong> : {{ trip.vehicle_number }} </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

</ion-content>