ion-toolbar {
  --background: white;
   ion-back-button {
    color: black;
    ion-title {
      color: black;
    }
  }
}

// Trip details container styles
.trip-details-main-container {
  background-color: #3425c7;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;

  h1 {
    text-align: center;
    margin: 15% 0% 10% 0%;
    font-family: cursive;
    font-size: 40px;
    color: white;
    font-weight: 600;
  }

  .button-container {
    text-align: center; margin-bottom: 10%;
  }

  .booked-ride-text {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h6 {
      color: white;
      font-weight: 600;
    }

    ion-chip {
      --background: #aa7cff;
    }
  }
  .trip-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;

    h6 {
      color: white;
      font-weight: 600;
    }
    p {
      margin: 0px;
      color: antiquewhite;
    }
  }

  ion-button {
    --border-color: #eaa6a3;
    --color: white;
    font-weight: 600;
    --background: transparent;
  }
}
