<ion-header class="ion-no-border">
  <div class="header-container">
    <div class="inner-header-container">
      <ion-avatar>
        <ion-img src="../../assets/images/user.png"></ion-img>
      </ion-avatar>
      <ion-text>Hai, {{ userDetails?.customer_name | titlecase }} </ion-text>
    </div>
    <div style="display: grid; justify-items: center" (click)="presentLogoutModal()">
      <ion-icon name="log-out"></ion-icon>
      <ion-note>Logout</ion-note>
    </div>
  </div>

  <div class="header-text-container">
    <h1>Where do</h1>
    <h1>you <span> {{ welcomeText }} </span></h1>
  </div>

  <div class="header-search-container">
    <ion-chip style="--background: #3425c75c" (click)="gotoPage('/booking', 'driver', '', '')">
      <ion-icon name="man" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Book Driver</ion-label>
    </ion-chip>

    <ion-chip style="--background: #3425c75c" (click)="gotoPage('/booking', 'cab', '', '')">
      <ion-icon name="car" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Book Cab</ion-label>
    </ion-chip>

    <ion-chip style="--background: #3425c75c" (click)="callTripClient('+91 9037502502')">
      <ion-icon name="sparkles" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Wedding Cars</ion-label>
    </ion-chip>
  </div>
</ion-header>

<ion-content>
  <!-- To refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- To refresh -->

  <div *ngIf="allBooking.length > 0" class="animate__animated animate__fadeIn">
    <div style="
        background-color: #3425c7;
        padding: 15px;
        margin: 15px;
        border-radius: 15px;
        color: white;
      " *ngFor="let trip of allBooking; trackBy: trackByFn">
      <div style="display: flex; justify-content: end">
        <ion-chip style="--background: white">
          <ion-icon name="man" style="color: black"></ion-icon>
          <ion-label style="color: black"> Driver </ion-label>
        </ion-chip>
      </div>

      <div style="display: flex; justify-content: space-between">
        <div>
          <h1 style="margin-top: 10px; font-weight: 600"> {{ this.displayDay }} </h1>
          <p>
            <strong> Start : {{ trip.booking_date }} </strong>
          </p>
          <p>
            <strong> Pick Up Location </strong>
          </p>
          <p>
            <strong> Destination </strong>
          </p>
          <p>
            <strong> Vehicle Name </strong>
          </p>
          <p>
            <strong>
              Transmission
            </strong>
            </p>
          <p>
            <strong> Vehicle Number </strong>
          </p>
        </div>

        <div>
          <h1 style="margin-top: 10px; font-weight: 600"> {{ trip.timepicker }} </h1>
          <p>
            <strong> End : {{ trip.end_date }} </strong>
          </p>
          <p>
            <strong> : {{ trip.location }} </strong>
          </p>
          <p>
            <strong> : {{ trip.destination }} </strong>
          </p>
          <p>
            <strong> : {{ trip.vehicle_name }} </strong>
          </p>
          <p>
            <strong>
              : {{ trip.vehicle_type }}
            </strong>
            </p>
          <p>
            <strong> : {{ trip.vehicle_number }} </strong>
          </p>
        </div>
      </div>

      <div style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px;
        ">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', 'details', trip, 'driver')">
          View Details
        </ion-button>

        <ion-button shape="round" style="--box-shadow: none; --background: orange; --color: black"
          (click)="toCancelTrip(trip, 'DRIVER')">
          Cancel Booking
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="allBookingTaxi.length > 0" class="animate__animated animate__fadeIn">
    <div class="trip-details-main-container" *ngFor="let trip of allBookingTaxi; trackBy: trackByFn">
      <div class="chip-container">
        <ion-chip>
          <ion-icon name="car"></ion-icon>
          <ion-label> Cab </ion-label>
        </ion-chip>
      </div>

      <div class="inner-container">
        <div>
          <h1 style="margin-top: 10px; font-weight: 600">{{ this.displayDay}}</h1>
          <p>
            <strong> Start : {{ trip.booking_date }} </strong>
          </p>
          <p>
            <strong> Pick Up Location </strong>
          </p>
          <p>
            <strong> Destination </strong>
          </p>
          <p>
            <strong> Vehicle Name </strong>
          </p>
          <p>Transmission</p>
          <p>
            <strong> Vehicle Number </strong>
          </p>
        </div>

        <div>
          <h1 style="margin-top: 10px; font-weight: 600">{{ trip.timepicker }}</h1>
          <p>
            <strong> End : {{ trip.end_date }}</strong>
          </p>
          <p>
            <strong> : {{ trip.location }} </strong>
          </p>
          <p>
            <strong> : {{ trip.destination }} </strong>
          </p>
          <p>
            <strong> : {{ trip.vehicle_name }} </strong>
          </p>
          <p>
             <strong>
              : {{ trip.vehicle_type }}
             </strong>
            </p>
          <p>
            <strong> : {{ trip.vehicle_number }} </strong>
          </p>
        </div>
      </div>

      <div style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 5px;
        ">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', 'details', trip, 'driver')">
          View Details
        </ion-button>

        <ion-button shape="round" style="--box-shadow: none; --background: orange; --color: black"
          (click)="toCancelTrip(trip, 'DRIVER')">
          Cancel Booking
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="activeDriver.length > 0" class="animate__animated animate__fadeIn">
    <div class="active-trip-container"  *ngFor="let trip of activeDriver; trackBy: trackByFn">
      <div style="display: flex; justify-content: end">
        <ion-chip style="--background: white">
          <ion-icon name="man" style="color: black"></ion-icon>
          <ion-label style="color: black"> Driver </ion-label>
        </ion-chip>
      </div>

      <div style="display: flex; justify-content: space-between">
        <div>
          <h1 style="margin-top: 10px; font-weight: 600">{{ this.displayDay}}</h1>
          <p>
            <strong> Start : {{ trip.booking_date }} </strong>
          </p>
          <p>
            <strong> Pick Up Location </strong>
          </p>
          <p>
            <strong> Destination </strong>
          </p>
          <p>
            <strong> Vehicle Name </strong>
          </p>
          <p>Transmission</p>
          <p>
            <strong> Vehicle Number </strong>
          </p>
        </div>

        <div>
          <h1 style="margin-top: 10px; font-weight: 600"> {{ trip.timepicker }}</h1>
          <p>
            <strong> End : {{ trip.end_date }} </strong>
          </p>
          <p>
            <strong> : {{ trip.location }} </strong>
          </p>
          <p>
            <strong> : {{ trip.destination }} </strong>
          </p>
          <p>
            <strong> : {{ trip.vehicle_name }} </strong>
          </p>
          <p>
            <strong>
             : {{ trip.vehicle_type }}
            </strong>
            </p>
          <p>
            <strong> : {{ trip.vehicle_number }} </strong>
          </p>
        </div>
      </div>

      <div style="background-color: #3425c7db;
      padding: 5px 15px;
      margin-top: 10px;
      border-radius: 10px;
      border: 2px solid white; display: flex; justify-content: space-between; align-items: center;">
      <div>
        <p>
          <strong>
            Driver Assigned :
          </strong>
        </p>

        <p style="margin: 5px 0px;">
          <strong>
            {{ trip.driver_id }}
          </strong>
        </p>
      </div>

      <div style="padding: 15px;
      border-radius: 50%;
      border: 1px solid white;
      height: 50px;
      width: 50px;
      background-color: #008001;" (click)="callTripClient(trip)">
          <ion-icon name="call" style="font-size: larger;"></ion-icon>
      </div>
      </div>
    </div>
  </div>

  <div *ngIf="activeTrip.length > 0" class="animate__animated animate__fadeIn">
    <div class="active-trip-container" *ngFor="let trip of activeTrip; trackBy: trackByFn">
      <div style="display: flex; justify-content: end">
        <ion-chip style="--background: #faca30">
          <ion-icon name="car" style="color: black"></ion-icon>
          <ion-label style="color: black"> Cab </ion-label>
        </ion-chip>
      </div>

      <div style="display: flex; justify-content: space-between">
        <div>
          <h1 style="margin-top: 10px; font-weight: 600"> {{ this.displayDay}} </h1>
          <p>
            <strong> Start : {{ trip.booking_date }} </strong>
          </p>
          <p>
            <strong> Pick Up Location </strong>
          </p>
          <p>
            <strong> Destination </strong>
          </p>
          <p>
            <strong> Vehicle Name </strong>
          </p>
          <p>Transmission</p>
          <p>
            <strong> Vehicle Number </strong>
          </p>
        </div>

        <div>
          <h1 style="margin-top: 10px; font-weight: 600">{{ trip.timepicker }}</h1>
          <p>
            <strong> End : {{ trip.end_date }} </strong>
          </p>
          <p>
            <strong> : {{ trip.location }} </strong>
          </p>
          <p>
            <strong> : {{ trip.destination }} </strong>
          </p>
          <p>
            <strong> : V{{ trip.vehicle_name }} </strong>
          </p>
          <p>
            <strong>
              : {{ trip.vehicle_type }}
            </strong>
            </p>
          <p>
            <strong> : {{ trip.vehicle_number }} </strong>
          </p>
        </div>
      </div>

      <div style="background-color: #3425c7db;
      padding: 5px 15px;
      margin-top: 10px;
      border-radius: 10px;
      border: 2px solid white; display: flex; justify-content: space-between; align-items: center;">
      <div>
        <p>
          <strong>
            Driver Assigned :
          </strong>
        </p>

        <p style="margin: 5px 0px;">
          <strong>
            {{ trip.driver_id }}
          </strong>
        </p>
      </div>

      <div style="padding: 15px;
      border-radius: 50%;
      border: 1px solid white;
      height: 50px;
      width: 50px;
      background-color: #008001;" (click)="callTripClient(trip)">
          <ion-icon name="call" style="font-size: larger;"></ion-icon>
      </div>
      </div>
    </div>
  </div>

  <div>
    <div class="section-container">
      <p>Booking</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="gotoPage('/ongoing-trip', 'ongoing', '', '')">
          <ion-icon name="location"></ion-icon>
          <ion-text>Ongoing</ion-text>
          <ion-text>Trip</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/trip-history', '', '', '')">
          <ion-icon name="time"></ion-icon>
          <ion-text>Trip</ion-text>
          <ion-text>History</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/user-profile', '', '', '')">
          <ion-icon name="person-circle"></ion-icon>
          <ion-text>Your</ion-text>
          <ion-text>Profile</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Personal</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="gotoPage('/user-settings', '', '', '')">
          <ion-icon name="settings"></ion-icon>
          <ion-text>Tariff</ion-text>
        </div>

        <div class="btn-single-container" (click)="presentLogoutModal()">
          <ion-icon name="log-out"></ion-icon>
          <ion-text>LogOut</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Owner</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="gotoPage('/about-us', '', '', '')">
          <ion-icon name="information-circle"></ion-icon>
          <ion-text>About</ion-text>
          <ion-text>Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/contact-us', '', '', '')">
          <ion-icon name="call"></ion-icon>
          <ion-text>Contact</ion-text>
          <ion-text>Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/user-terms-and-condition', '', '', '')">
          <ion-icon name="reader"></ion-icon>
          <ion-text>Terms &</ion-text>
          <ion-text>Conditions</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Social</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="socialSection('mail')">
          <ion-icon name="mail"></ion-icon>
          <ion-text>Mail Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('facebook')">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-text>Facebook</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('twitter')">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-text>Twitter</ion-text>
        </div>
      </div>

      <div class="btn-container">
        <div class="btn-single-container" (click)="socialSection('instagram')">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-text>Instagram</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('whatsapp')">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-text>Whatsapp</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('google')">
          <ion-icon name="logo-google"></ion-icon>
          <ion-text>Google</ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>