<ion-header class="ion-no-border">
  <div class="header-container">
    <div class="inner-header-container">
      <ion-avatar>
        <ion-img src="../../assets/images/user.png"></ion-img>
      </ion-avatar>
      <ion-text>Hai, {{ userDetails?.customer_name | titlecase }} </ion-text>
    </div>
    <div style="display: grid; justify-items: center;" (click)="presentLogoutModal()">
      <ion-icon name="log-out"></ion-icon>
      <ion-note>Logout</ion-note>
    </div>
  </div>

  <div class="header-text-container">
    <h1>Where do</h1>
    <h1>you <span> {{ welcomeText }} </span></h1>
  </div>

  <div class="header-search-container">
    <ion-chip style="--background: #3425c75c" (click)="gotoPage('/booking', 'driver', '')">
      <ion-icon name="man" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Book Driver</ion-label>
    </ion-chip>

    <ion-chip style="--background: #3425c75c" (click)="gotoPage('/booking', 'cab', '')">
      <ion-icon name="car" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Book Cab</ion-label>
    </ion-chip>

    <ion-chip style="--background: #3425c75c">
      <ion-icon name="sparkles" style="color: #3425c7"></ion-icon>
      <ion-label style="font-weight: 600">Wedding Cars</ion-label>
    </ion-chip>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="allBooking.length !== 0" class="animate__animated animate__fadeIn">
    <div class="trip-details-main-container" *ngFor="let trip of allBooking ">
      <div class="booked-ride-text">
        <div>
          <h6>{{ trip?.updated_at | date:'mediumDate' }}</h6>
        </div>
        <div>
          <ion-chip style="--background: white">
            <ion-icon name="man" style="color: black"></ion-icon>
            <ion-label style="color: black">Booked Driver</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="trip-details-container">
        <div>
          <h6>{{ trip?.booking_date }}</h6>
          <h6>{{ trip?.timepicker }}</h6>
        </div>
        <div style="width: 40%;">
          <h6>Location</h6>
          <p>{{ trip?.address }}</p>
          <p>{{ trip?.location }}</p>
          <h6>Destination</h6>
          <p>{{ trip?.destination }}</p>
        </div>
      </div>

      <div style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
        ">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', 'details', trip)">
          View Details
        </ion-button>

        <ion-button shape="round" style="--box-shadow: none; --background: orange; --color: black"
          (click)="toCancelTrip(trip, 'DRIVER')">
          Cancel Booking
        </ion-button>
      </div>

      <div style="margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;">
        <!-- <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="car-sport-outline"></ion-icon>
          <ion-label> {{ trip?.no_day }} Days Trip</ion-label>
        </ion-chip> -->

        <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="ellipse"></ion-icon>
          <ion-label *ngIf="trip?.trip_driver === null ">
            Driver not assigned
          </ion-label>
          <ion-label *ngIf="trip?.trip_driver !== null ">
            Driver assigned {{ trip?.trip_driver }}
          </ion-label>
        </ion-chip>

        <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="ellipse"></ion-icon>
          <ion-label *ngIf="trip?.trip_status === 0 ">Your trip is in pending</ion-label>
          <ion-label *ngIf="trip?.trip_status === 1 ">Your trip is active</ion-label>
          <ion-label *ngIf="trip?.trip_status === 2 ">Your trip completed</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>

  <div *ngIf="allBookingTaxi.length !== 0" class="animate__animated animate__fadeIn">
    <div class="trip-details-main-container" *ngFor="let trip of allBookingTaxi ">
      <div class="booked-ride-text">
        <div>
          <h6>{{ trip?.updated_at | date:'mediumDate' }}</h6>
        </div>
        <div>
          <ion-chip style="--background: #FACA30">
            <ion-icon name="car" style="color: black"></ion-icon>
            <ion-label style="color: black">Booked Cab</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="trip-details-container">
        <div>
          <h6>{{ trip?.booking_date }}</h6>
          <h6>{{ trip?.timepicker }}</h6>
        </div>
        <div style="width: 40%;">
          <h6>Location</h6>
          <p>{{ trip?.address }}</p>
          <p>{{ trip?.location }}</p>
          <h6>Destination</h6>
          <p>{{ trip?.destination }}</p>
        </div>
      </div>

      <div style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
        ">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', 'details', '')">
          View Details
        </ion-button>

        <ion-button shape="round" style="--box-shadow: none; --background: orange; --color: black"
          (click)="toCancelTrip(trip, 'CAB')">
          Cancel Booking
        </ion-button>
      </div>

      <div style="margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;">
        <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="car-sport-outline"></ion-icon>
          <ion-label> {{ trip?.no_day }} Days Trip</ion-label>
        </ion-chip>

        <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="car-sport-outline"></ion-icon>
          <ion-label *ngIf="trip?.trip_driver === null ">
            Driver not assigned
          </ion-label>
          <ion-label *ngIf="trip?.trip_driver !== null ">
            Driver assigned {{ trip?.trip_driver }}
          </ion-label>
        </ion-chip>

        <ion-chip style="--border: #aa7cff" outline color="light">
          <ion-icon name="car-sport-outline"></ion-icon>
          <ion-label *ngIf="trip?.trip_status === 0 ">Your trip is in pending</ion-label>
          <ion-label *ngIf="trip?.trip_status === 1 ">Your trip is active</ion-label>
          <ion-label *ngIf="trip?.trip_status === 2 ">Your trip completed</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="activeTrip.length !== 0">
    <div class="trip-details-main-container" *ngFor="let trip of activeTrip ">
      <div class="booked-ride-text">
        <div>
          <h6>{{ trip?.updated_at | date:'mediumDate' }}</h6>
        </div>
        <div>
          <ion-chip>
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Taxi</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="trip-details-container">
        <div>
          <h6>Start Time</h6>
          <h6>{{ trip?.timepicker }}</h6>
        </div>
        <div>
          <h6>Pick Up Address</h6>
          <p>{{ trip?.address }}</p>
          <p>{{ trip?.location }}</p>
          <h6>Drop Off Address</h6>
          <p>{{ trip?.destination }}</p>
        </div>
      </div>

      <div style="display: flex">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', '')">
          View Details
        </ion-button>

        <ion-button fill="outline" shape="round"> Cancel Trip </ion-button>
      </div>
    </div>
  </div> -->

  <!-- <div *ngIf="activeDriver.length !== 0">
    <div class="trip-details-main-container" *ngFor="let trip of activeDriver ">
      <div class="booked-ride-text">
        <div>
          <h6>{{ trip?.updated_at | date:'mediumDate' }}</h6>
        </div>
        <div>
          <ion-chip>
            <ion-icon name="car-sport-outline"></ion-icon>
            <ion-label>Taxi</ion-label>
          </ion-chip>
        </div>
      </div>

      <div class="trip-details-container">
        <div>
          <h6>Start Time</h6>
          <h6>{{ trip?.timepicker }}</h6>
        </div>
        <div>
          <h6>Pick Up Address</h6>
          <p>{{ trip?.address }}</p>
          <p>{{ trip?.location }}</p>
          <h6>Drop Off Address</h6>
          <p>{{ trip?.destination }}</p>
        </div>
      </div>

      <div style="display: flex">
        <ion-button fill="outline" shape="round" (click)="gotoPage('/ongoing-trip', '')">
          View Details
        </ion-button>

        <ion-button fill="outline" shape="round"> Cancel Trip </ion-button>
      </div>
    </div>
  </div> -->

  <div>
    <div class="section-container">
      <p>Booking</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="gotoPage('/ongoing-trip', 'ongoing', '')">
          <ion-icon name="location"></ion-icon>
          <ion-text>Ongoing</ion-text>
          <ion-text>Trip</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/trip-history', '', '')">
          <ion-icon name="time"></ion-icon>
          <ion-text>Trip</ion-text>
          <ion-text>History</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/user-profile', '', '')">
          <ion-icon name="person-circle"></ion-icon>
          <ion-text>Your</ion-text>
          <ion-text>Profile</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Personal</p>

      <div class="btn-container">
        <!-- <div class="btn-single-container" (click)="gotoPage('/ongoing-trip', 'details', '0')">
          <ion-icon name="wallet"></ion-icon>
          <ion-text>Trip Details</ion-text>
        </div> -->

        <div class="btn-single-container" (click)="gotoPage('/user-settings', '', '')">
          <ion-icon name="settings"></ion-icon>
          <ion-text>Tariff</ion-text>
        </div>

        <div class="btn-single-container" (click)="presentLogoutModal()">
          <ion-icon name="log-out"></ion-icon>
          <ion-text>LogOut</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Owner</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="gotoPage('/about-us', '', '')">
          <ion-icon name="information-circle"></ion-icon>
          <ion-text>About</ion-text>
          <ion-text>Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/contact-us', '', '')">
          <ion-icon name="call"></ion-icon>
          <ion-text>Contact</ion-text>
          <ion-text>Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="gotoPage('/user-terms-and-condition', '', '')">
          <ion-icon name="reader"></ion-icon>
          <ion-text>Terms &</ion-text>
          <ion-text>Conditions</ion-text>
        </div>
      </div>
    </div>

    <div class="section-container">
      <p>Social</p>

      <div class="btn-container">
        <div class="btn-single-container" (click)="socialSection('mail')">
          <ion-icon name="mail"></ion-icon>
          <ion-text>Mail Us</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('facebook')">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-text>Facebook</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('twitter')">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-text>Twitter</ion-text>
        </div>
      </div>

      <div class="btn-container">
        <div class="btn-single-container" (click)="socialSection('instagram')">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-text>Instagram</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('whatsapp')">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-text>Whatsapp</ion-text>
        </div>

        <div class="btn-single-container" (click)="socialSection('google')">
          <ion-icon name="logo-google"></ion-icon>
          <ion-text>Google</ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>